.kanban-board {
    overflow-x: scroll;
    white-space: nowrap;
}

.kanban-col {
    width: 160px;
    margin-right: 10px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.kanban-col .panel-body .label {
    white-space: normal;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}


.kanban-col .panel-heading,
.kanban-col .panel-footer {
    padding: 5px 10px;
}

.kanban-col .panel-heading {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.kanban-col .panel-footer button {
    padding: 0;
    font-size: 90%;
}

.kanban-col .panel-body {
    padding: 5px;
    min-height: 33px;
}

.kanban-col .panel-body .label {
    display: inline-block;
    margin: 3px
}

.kanban-col .dragging-over {
    background-color: #fcf8e3;
}

.kanban-col-new {
    border-style: dashed;
    cursor: pointer;
}

.kanban-col-new .panel-body {
    text-align: center;
    min-height: 96px;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unused-statuses .label {
    display: inline-block;
    margin: 3px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.unused-statuses .dragging-over {
    background-color: #fcf8e3;
}
